body{
  margin:0;
  font-family:Arial;
  background:#111;
  color:white;
}

h1{
  background:#000;
  padding:15px;
  text-align:center;
  color:#f9b233;
}

#categories{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  padding:10px;
  gap:10px;
}

#categories button{
  background:#f9b233;
  border:none;
  padding:12px 20px;
  border-radius:25px;
  font-size:16px;
  cursor:pointer;
}

#menu{
  padding:15px;
}

.section{
  margin-top:20px;
}

.item{
  display:flex;
  justify-content:space-between;
  padding:10px;
  background:#222;
  border-radius:8px;
  margin-bottom:8px;
}
